<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hanzq.masterlecture"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_3"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBar2"
        android:logo="@drawable/logo_3">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="iGGgjx3Cu1i4iiTuVbLUZBv0" />
        <activity android:name=".SplashActivity">
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingActivity"/>
        <activity android:name=".About"/>
        <activity android:name=".Map"/>
        <activity android:name=".WalkmanLv1C1"/>
        <activity android:name=".WalkmanLv1C2"/>
        <activity android:name=".WalkmanLv1C3"/>
        <activity android:name=".WalkmanLv1C4"/>
        <activity android:name=".AlphaLv1C1"/>
        <activity android:name=".AlphaLv1C2"/>
        <activity android:name=".AlphaLv1C3"/>
        <activity android:name=".AlphaLv1C4"/>
        <activity android:name=".AlphaLv1C5"/>
        <activity android:name=".AlphaLv1C6"/>
        <activity android:name=".AlphaLv1C7"/>
        <activity android:name=".AlphaLv2C1"/>
        <activity android:name=".AlphaLv2C2"/>
        <activity android:name=".AlphaLv2C3"/>
        <activity android:name=".AlphaLv2C4"/>
        <activity android:name=".AlphaLv2C5"/>
        <activity android:name=".AlphaLv2C6_1"/>
        <activity android:name=".AlphaLv2C6_2"/>
        <activity android:name=".AlphaLv2C8"/>
        <activity android:name=".AlphaLv3C1"/>
        <activity android:name=".AlphaLv3C2"/>
        <activity android:name=".AlphaLv3C3"/>
        <activity android:name=".AlphaLv3C4"/>
        <activity android:name=".AlphaLv3C5"/>
        <activity android:name=".AlphaLv3C6"/>
        <activity android:name=".AlphaLv3C7"/>
        <service android:name="com.baidu.location.f"
            android:process=":remote"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2"/>
            </intent-filter>
        </service>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

</manifest>
